@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/SecondPage/_SecondLayout.cshtml";
}

<section class="testim" id="testim">
    <div class="wrap">

        <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
        <span id="left-arrow" class="arrow left fa fa-chevron-left"></span>

        <ul class="dots" id="testim-dots">
            <li class="dot active"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>

        </ul>

        <div class="cont" id="testim-content">

            <div class="active">
                <div class="img"><img src="vendor/Image/Doctors-pana.svg"></div>
                <h2>Dr . Mohamed Esam</h2>
                <p></p>

            </div>

            <div>
                <div class="img"><img src="vendor/Image/Insurance-amico.svg"></div>
                <h2>Dr . Ameen Ali</h2>
                <p></p>


            </div>

            <div>
                <div class="img"><img src="vendor/Image/Messaging-amico.svg"></div>
                <h2>Dr .Youmna Saber</h2>
                <p></p>


            </div>

            <div>
                <div class="img"><img src="vendor/Image/DoctorsLogin.svg"></div>
                <h2>Dr .Radwa Ali</h2>
                <p></p>


            </div>

            <div>
                <div class="img"><img src="vendor/Image/Coding workshop-pana.svg"></div>
                <h2>Dr .Fatma hosny</h2>
                <p></p>


            </div>
        </div>

    </div>
</section>
<section>
    <div class="skewed"></div>
</section>
<div class="num">
    <div class="content">
        <h3>Doctor</h3>
        <p>475</p>
    </div>
    <div class="content">
        <h3>Users</h3>
        <p>200456</p>
    </div>
    <div class="content">
        <h3>Donner</h3>
        <p>956</p>
    </div>
    <div class="content">
        <h3>Trainer</h3>
        <p>324</p>
    </div>
</div>

