<div class="About">
    <div class="content">
        <img src="~/secondpage/vendor/Image/About us page-bro.svg" alt="About" class="book">
    </div>
    <div class="content">
        <!-- <i class="fa fa-envelope-open" aria-hidden="true"></i>
        <i class="fa fa-user-md" aria-hidden="true"></i>
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
        <h1><span>Abo</span>ut</h1>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum dolor sit amet,Sconsectetur adipisicing elit Explicabo,necessitatibus</p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Explicabo,necessitatibus ,Lorem ipsum dolor sit amet,Sconsectetur adipisicing elit </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum dolor sit amet,Sconsectetur elit Explicabo,necessitatibus adipisicing </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem sit amet,Sconsectetur adipisicing elit Explicabo,necessitatibus ipsum dolor </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> sit Lorem ipsum dolor amet,Sconsectetur elit Explicabo,necessitatibus adipisicing</p>
    </div>

</div>
<div class="Doctor">
    <div class="content">
        <!-- <i class="fa fa-envelope-open" aria-hidden="true"></i>
        <i class="fa fa-user-md" aria-hidden="true"></i>
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
        <h1><span>Doc</span>tor</h1>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum dolor sit amet,Sconsectetur adipisicing elit Explicabo,necessitatibus</p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Explicabo,necessitatibus ,Lorem ipsum dolor sit amet,Sconsectetur adipisicing elit </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem ipsum dolor sit amet,Sconsectetur elit Explicabo,necessitatibus adipisicing </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Lorem sit amet,Sconsectetur adipisicing elit Explicabo,necessitatibus ipsum dolor </p>
        <p> <i class="fa fa-angle-double-right" aria-hidden="true"></i> sit Lorem ipsum dolor amet,Sconsectetur elit Explicabo,necessitatibus adipisicing</p>
    </div>
    <div class="content">
        <img src="~/secondpage/vendor/Image/Doctors-rafiki.svg" alt="About" class="book">
    </div>
</div>