﻿<header>
    <div id="logo">
        <a href="#">
            <span id="span1">Super</span><span id="span2">Heros</span>
        </a>
    </div>
    <nav id="navbar">
        <div id="quit">
            <i class="fa fa-times" aria-hidden="true" onclick="toggle()"></i>
        </div>
        <ul>
            <li><a href="#">home</a></li>

            <li><a href="#">about</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">Problem</a></li>
            <li><a href="#">Profile</li>



        </ul>
    </nav>
    <div id="bars" onclick="toggle()">
        <div class="bar b"></div>
        <div class="bar"></div>
        <div class="bar b"></div>
    </div>

</header>
<div class="content">
    <div class="left">
        <h1><span>Super H</span>eroes</h1>

        <p style="color:rgb(99, 99, 99)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur modi cupiditate eveniet, omnis unde amet repellat quo accusamus non nam quidem ullam eum ut eaque rem velit perspiciatis voluptatem officiis</p>
        <div style="background-color: white ; border:2px solid #82DBDB;" class="btn" id="btn_play">
            <a style="color:#82DBDB ;" href="#">LogIn</a>
        </div>
        <div class="btn" id="btn_play">
            <a href="#">Register</a>
        </div>
    </div>
    <div class="right">
        <div class="box">
            <img src="~/secondpage/vendor/Image/Insurance-amico.svg" alt="Book" class="book">
        </div>
    </div>
</div>