<div class="container" style="padding-top:80px;">
    <div class="row">
        <div class="col-md-6">
            <span> Enter Your Name : </span><br />
            <input type="text" id="txtUser" /><br />
            <span> Enter Your Message : </span><br />
            <textarea rows="10" cols="40" id="txtMessage"></textarea><br />
            <button type="submit" id="btnSend" class="btn btn-info">Send Message</button><br /><br />


            <input type="text" id="txtName" />
            <button type="submit" id="txtgroup" class="btn btn-info">Join</button><br />

            <br />
            <button type="submit" id="txtSendGroup" class="btn btn-info">Send To Group</button><br />

        </div>

        <div class="col-md-6">
            <h3>Message List : </h3>
            <ul id="list" class="alert alert-info">
            </ul>
        </div>
    </div>

</div>