<div class="content">
    <div class="left">
        <h1><span>Super H</span>eros</h1>

        <p>@SharedLocalizer["Aim of the Web"]</p>
        <div id="btn_play">
            <a style=" text-decoration:none;" href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
        </div>

        <div class="btn" id="btn_play">
            <a style=" text-decoration:none;" href="file:///E:/front%20End%20Project/Second%20page/Index.html#"> @SharedLocalizer["Discover"]</a>
        </div>
    </div>
    <div class="right">
        <div class="box">
            <img class="book" alt="world down" src="~/firstpage/image/world down syndrome day-amico.svg" />
        </div>
    </div>
</div>