<header>
    <div id="logo">
        <a style=" text-decoration:none;" href="#">
            <span id="span1">Super</span><span id="span2">Heros</span>
        </a>
    </div>
    <nav id="navbar">
        <div id="quit">
            <i class="fa fa-times" aria-hidden="true" onclick="toggle()"></i>
        </div>
        <ul>
            <li><a style=" text-decoration:none;" href="#">home</a></li>
            <li><a style=" text-decoration:none;" href="#">Problem</a></li>
            <li><a style=" text-decoration:none;" href="#">about</a></li>
            <li><a style=" text-decoration:none;" href="#">contact</a></li>
           
            <li><a style=" text-decoration:none;" class="Register" data-toggle="modal" data-target="#exampleModal" style="text-decoration:none">Login</a></li>

        </ul>
    </nav>
    <div id="bars" onclick="toggle()">
        <div class="bar b"></div>
        <div class="bar"></div>
        <div class="bar b"></div>
    </div>
</header>